.signup{
  background-color: white;
  overflow: hidden;
  height: 100vh;
}

.signup-logo-position  {
  text-align: center;
  position: fixed;
  width:100%;
  top: 10vh;
}

.logo {
  height: 170px;
  width: 160px;
}

.signup-input{
  text-align: center;
  position: fixed;
  width:100%;
  bottom: 15vh;
}
.signup-button{
  padding-top: 15px;
}

.signup-checkbox{
  text-align: center;
  padding-top: 15px;

}
