.signup{
  background-color: white;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signup-logo-position  {
  /* text-align: center; */
  /* position: absolute; */
  width:100%;
  /* top: 10vh; */
}

.signup-input{
  text-align: center;
  /* position: absolute; */
  width:100%;
  bottom: 8vh;
}
@media screen and (max-height: 568px) {
  .signup-input{
    bottom: 10vh;
  }
}

.signup-button{
  padding-top: 15px;
}

.signup-checkbox{
  text-align: center;
  padding-top: 15px;

}
