

.sign-up .logo-signup-position  {
  text-align: center;
  margin: 30% 0 25%;
}

.sign-up .logo {
  height: 170px;
  width: 160px;
}

.sign-up .signup-info-style{
  margin-bottom: 10%;
}

.sign-up .checkbox{
  text-align:center ;
  margin: 20px;
  margin-left: 10%;
}
