.profile-container{
  /* height:100%;
  width:100%;
  position: absolute;
  user-select: none; */

  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  width: inherit;
  padding-bottom: 50px;
}
.profile-image-sources{
  pointer-events: none;
  user-select: none;
  width:100%;
  height:200px;
}

.profile-image-containers{
  width:100%;
  height:200px;
  position:relative;
  opacity: 0.7;
  filter: alpha(opacity=80);
}

.profile-picture{
  position:absolute;
  min-height:125px;
  min-width:125px;
  max-height:200px;
  max-width:200px;
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  top:50%;
  left:25%;
  transform: translate(-50%, -50%);
  user-select: none;
  z-index:11;
  border: 0.2px solid black;
}

.profile-image-change {
  position:absolute;
  top:45%;
  left:25%;
  transform: translate(-50%, -50%);
}

#add-picture{
  opacity:0;
  position:absolute;
  font-size:0px;

}

.image-picker label{
  cursor: pointer;
  background-color: blue;
  display:block;
  width:35vw;
  height:35vw;
  border-radius:50%;
  z-index: 1;
  opacity: 0;
}

.profile-name{
  position:absolute;
  top: 40%;
  left: 50%;
  font-size: 20px;
  color: white;
  font-family: "Verdana";
}

.profile-name-icon{
  background-image:url(../../Assets/Profile/nickname.svg);
  background-size: cover;
  height: 22px;
  width: 22px;
}

.profile-height-icon{
  background-image:url(../../Assets/Profile/height.svg);
  background-size: cover;
  height: 22px;
  width: 22px;
}

.profile-weight-icon{
  background-image:url(../../Assets/Profile/weight.svg);
  background-size: cover;
  height: 22px;
  width: 22px;
}


.profile-birthday-icon{
  background-image:url(../../Assets/Profile/cake.svg);
  background-size: cover;
  height: 22px;
  width: 22px;
}

.date-of-birth div .am-list-extra{
  position:absolute;
  left:85px;
}

.weight-picker div .am-list-extra{
  position:absolute;
  left:85px;
}

.height-picker div .am-list-extra{
  position:absolute;
  left:85px;
}

.no-select {
  user-select: none;
  pointer-events: none;
}

.center-save-button{
  top:3px;
}

.change-avatar-button{
  background-color: #3B8EE9;
  color:white;
  width:40vw;
  font-size: 15px;
  margin-left: 30vw;
  margin-top: 2vh;
  margin-bottom: 0vh;

}
