.container {
  font-family: sans-serif;
}
.image-container {
  position: relative;
  text-align: center;
}
.image-source {
  height: 200px;
  width: 100%;
  opacity: 0.7;
  filter: alpha(opacity=80);
  user-select: none;
  pointer-events: none;
}
.workout-info {
    position:absolute;
    top:10%;
    left: 5%;
    text-align: left;
    font-size: 34px;
    opacity: 1;
    z-index: 1;
    color:white;
}
.container-without-button {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  width: inherit;
  padding-bottom: 120px;
}
.span-button {
   border: none;
   color: black;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   font-weight: bold;
   cursor: pointer;
}
.keep {
  padding: 2px 27px;
  background-color: #1E90FF;
}
.change {
  padding: 2px 20px;
  background-color: #FF6347;
}
.saved {
  padding: 2px 22px;
  background-color: #00FF7F;
}
.list-workout {
  clear: both;
}
.footer-button {
  padding-top: 10px;
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 50px;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
  z-index: 90;
}

.link-highlight:active{
  background-color: #DDDDDD;
  /*curve highlight on top left and right*/
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  /* makes highlight more smooth*/
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
