/*
width measurements:
  360x640 GalaxyS5
  411x731  Pixel 2
  411x823  Pixel 2 XL
  320x568 Iphone 5/SE
  375x667 Iphone 6/7/8
  414x736 Iphone 6/7/8 plus
  375x812  Iphone X
  768x1024  Ipad
  1024x1366 Ipad 2
*/


.exercise{
  background-color:white;
  height: 100%;
  overflow: auto;
  /* border: 1px solid blue; */
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

.exercise .nav-bar{
  text-align: center;
  top: 0;
  width: 100%;
  margin: 32px 0 16px 0;

  /* -webkit-flex: 1 1 10%;
           flex: 1 1 10%;
   -webkit-order: 1;
           order: 1; */
}

.exercise .nav-bar-text{
  font-size: 20px;
  font-weight: bold;
}


.exercise .image-block{
  position:relative;
  text-align: center;
  margin: 16px 0 16px 0;
}

.exercise .exercise-image{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:85%;
  height:70%;
  border:1px solid #000000;
  opacity: 0.8;
  pointer-events:'none';
  user-select:'none';
}

.exercise ._history-icon {
  position:absolute;
  height:18%;
  width:18%;
  z-index: 1;
  top:2%;
  left:5%;
  /*border-style:solid;
  border-width:2px;
  border-color:blue;*/
}

.exercise .info-icon {
  position:absolute;
  height:18%;
  width: 18%;
  z-index: 1;
  bottom:2%;
  left:5%;
  /*border-style:solid;
  border-width:2px;
  border-color:red;*/
}


.exercise .prescription-circle{
  /*position: absolute;
  height: 23vw;
  width: 23vw;
  border-radius: 50%;
  background-color: #000000;
  right: -5%;
  top: 9%;
  z-index: 1;
  text-align: center;*/

  position:absolute;
  height:18%;
  width:18%;
  z-index: 1;
  top:0%;
  right:0%;
}

@media only screen and (min-width: 900px) {
  .exercise .prescription-circle{
    height: 120px;
    width: 120px;
  }
}

.prescription{
  padding-top: 15%;
  padding-bottom: 15%;
  z-index: 2;
  font-size: 13px;
  color: white;
}

.exercise .stepper-list-container{
  width:100%;
  height:50%;
}

.weight-and-rep .stepper-text{
  text-align:center;
  font-weight: bold;
  margin: 3% 0 0 0;
}

.weight-and-rep .stepper{
  margin: 3% 0 0 0;
  text-align:center;
  user-select: none;
}

.weight-and-rep .save-button .next-button{
  text-align:center;
  margin: 13% 10% 13% 10%;
  user-select: none;
}

.record-list{
  text-align:center;
}

.record-list-trophy{
  user-select: none;
  pointer-events: none;
}

.exercise .display-message{
  user-select: none;
  background-color: white;
  margin: 10% 0 5%;
  color: blue;
  font-size: 16px;
}

.embed-responsive-item {
  width:85%;
  height:45vh;
	border: 10px inset #999;
  display: block;
  margin: 5% auto;
}

.no-copy{
  user-select: none;
  pointer-events: none;
}


.btn-two {
    color: white;
    padding: 15px 20px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset,
                      0 2px 0 -1px rgba(0,0,0,0.13),
                      0 3px 0 -1px rgba(0,0,0,0.08),
                      0 3px 13px -1px rgba(0,0,0,0.21);
    border-radius: 20px;
    background-color: #9abf7f;
    font-size: 10px;
    white-space: nowrap;
}

.show-history-title {
margin-top: 5vh;
text-align: center;
color:#1F90E6;
font-weight: bold;
font-size: 6vw;
}

.exercise-day{
margin-top: 3vh;
margin-bottom:1vh;
color:#1F90E6;
text-align: center;
font-size: 5vw;

}

/* span{
  margin-left: 3vw;
  font-size: 4vw;
} */

.exercise-history-detail{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20vw;

}


.ExerciseCues{
  width:80%;
  margin: 16px auto 16px auto;
  display: block;
  /* border: 1px solid blue; */
}


.ExerciseCues sapn{
  display: block;
  font-size: 16px;
}

.RepsBox{
  /* border: 1px solid blue; */
  position: relative;

  width:100%;
  display: block;
  margin: 16px auto 16px auto;

  order: 4;
}

.completeButton{
  text-align:center;
  margin-top: 16px;
  /* margin: 16px 0 0 0; */
}

.RehabProgress{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
