.listHeader{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 15px;
  margin-bottom: 2px;
}
.age-picker-pull-right {
  width: 160px;
  flex-basis: initial;
}
.days-picker-pull-right {
  width: 170px;
}
.noticebar {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
