.listHeader{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 15px;
  margin-bottom: 2px;
}
.age-picker-pull-right {
  margin-right: 45%;
}
.days-picker-pull-right {
  margin-right: 50%;
}
.noticebar {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

@media only screen and (min-width: 360px) {
  .days-picker-pull-right {
    margin-right: 55%;
  }
  .age-picker-pull-right {
    margin-right: 55%;
  }
}@media only screen and (min-width: 375px) {
  .days-picker-pull-right {
    margin-right: 55%;
  }
  .age-picker-pull-right {
    margin-right: 56%;
  }
}
@media only screen and (min-width: 414px) {
  .days-picker-pull-right {
    margin-right: 60%;
  }
  .age-picker-pull-right {
    margin-right: 60%;
  }
}
@media only screen and (min-width: 480px) {
  .days-picker-pull-right {
    margin-right: 65%;
  }
  .age-picker-pull-right {
    margin-right: 60%;
  }
}
@media only screen and (min-width: 600px) {
  .days-picker-pull-right {
    margin-right: 70%;
  }
  .age-picker-pull-right {
    margin-right: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .days-picker-pull-right {
    margin-right: 78%;
  }
  .age-picker-pull-right {
    margin-right: 78%;
  }
}
@media only screen and (min-width: 1024px) {
  .days-picker-pull-right {
    margin-right: 84%;
  }
  .age-picker-pull-right {
    margin-right: 84%;
  }
}
@media only screen and (min-width: 1280px) {
  .days-picker-pull-right {
    margin-right: 87%;
  }
  .age-picker-pull-right {
    margin-right: 87%;
  }
}
