.container {
  display:inline-block;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
  width: 100%;

}

.content-without-pagination {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  width: inherit;
  padding-bottom: 70px;
}
.pagination-container {
  padding-top: 10px;
  position: fixed;
  height: 50px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: white;
   text-align: center;
   z-index: 90;




/*
  width:100%;
  position: absolute;
  background-color: rgba(255,255,255,1);

  */
}

.custom-pagination-with-icon .am-pagination-wrap-btn-prev .am-button-inline{
  padding-left: 0;
  padding-right: 10px;
}
.custom-pagination-with-icon .am-pagination-wrap-btn-next .am-button-inline{
  padding-left: 10px;
  padding-right: 0;
}
.arrow-align {
  display: flex;
  align-items: center;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
}
