.container {
  display:inline-block;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
  width: 100%;
}

.content-without-pagination {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  width: inherit;
  padding-bottom: 70px;
}
.pagination-container {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 10%;
   background-color: white;
   z-index: 90;
   user-select: none;
}

.pagination-page-number{
  position:absolute;
  top:30%;
  text-align:center;
  width:100%;
  font-size:18px;
}

.Backdrop-ActivityIndicator {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top:0;
    background-color: rgba(0, 0, 0, 0.8);
}
