.logindetails{
  background-color: white;
  height: 100vh;
  overflow: hidden;
}

.logindetails-logo-position  {
  text-align: center;
  position: absolute;
  top: 10vh;
  width: 100%;
}

.logindetails-input-list{
  text-align: center;
  position:absolute;
  width: 100%;
  bottom: 8vh;
}

@media screen and (max-height: 568px) {
  .logindetails-input-list{
    bottom: 0vh;
  }
  .logindetails-logo-position  {
    top: 10vh;
  }
}

.logindetails-login-button{
  padding-top: 10px;
}
.logindetails-forgetpassword{
  padding-top: 10px;
}

.logindetails-doyouhaveaccount{
  padding-top: 20px;
  padding-bottom: 20px;
}


/* style={{ width: '100%', color: '', textAlign: 'center'}} */
