.screen-logindetails-style{
  background: white;
  width: 100%;
  height: 100%;
  position: fixed;
}
.logo-logindetails-position  {
  margin-top:100px;
  margin-bottom:50px;
}

.forgetpassword-style{
  text-align: center;
  margin-bottom: 3%;
}
.doyouhaveaccount-style{
  color: #bbb;
  text-align: center;
  margin-bottom: 2%;
}
.login-button-style{
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 50px;
  color: white;
  margin-bottom: 1%;
}

/* style={{ width: '100%', color: '', textAlign: 'center'}} */
