.logindetails{
  background-color: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.logindetails-logo-position  {
  /* text-align: center;
  position: absolute;
  top: 10vh; */

  width: 100%;
}

.logindetails-input-list{
  text-align: center;
  /* position:absolute; */
  width: 100%;
  top: 40vh;
}

@media screen and (max-height: 568px) {
  .logindetails-input-list{
    bottom: 8vh;
  }
  .logindetails-logo-position  {
    top: 10vh;
  }
}

.logindetails-login-button{
  user-select: none;
  padding-top: 10px;
}

.logindetails-register{
  user-select: none;
}

.logindetails-forgetpassword{
  padding-top: 10px;
}

.logindetails-doyouhaveaccount{
  color: grey;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* .lockerstyle{
  background-image: url(https://png.icons8.com/ios/50/000000/lock.png);
  background-size: cover;
  height: '22px';
  width: '22px';
} */
/* style={{ width: '100%', color: '', textAlign: 'center'}} */
