.modal {
    position: absolute;
    z-index: 200;
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 2px grey;
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    left: 5%;
    height: auto;
    top: 20vh;
}
.modal-for-select-exercise {
  position:absolute;
  z-index:200;
  width:90%;
  left:5%;
  height:auto;
  top:20vh;
}

@media screen and (min-width: 768px) {
  .modal-for-select-exercise {
    width:60%;
    height:auto;
    left:20%;
  }
  .modal{
    width:60%;
    height:auto;
    left:20%;
  }
}
