.space-carousel {
  padding-bottom: 15px;
  background: white;
  overflow: hidden;
}

.image-with-description img{
  height:100%;
  width: 100%;
}

#mySelect{
  background-color:  #1F90E6;
  color: white;
  border:#1F90E6;
  width:40vw;
  height:5vh;
  margin-left: 22vw;

}

.selectItem {
  display:flex;
  flex-direction: column;
  height: 40px;
}

.selectItem div {
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-radius: 5px 5px 5px 5px !important;
}
