.screen-forgetpassword-style{
  background: white;
  width: 100%;
  height: 100%;
  position: fixed;
}
.logo-forgetpassword-position  {
  margin-top: 20%;
  margin-bottom: 5%;
}
.input-info-style{
  margin-bottom: 5%;
}
.login-button-style{
  margin-bottom: 5%;
}
.forgetpassword-reset-password-style{
  margin-bottom: 8%;
}
.forgetpassword-doyouhaveaccount-style{
  color: #bbb;
  text-align: center;
  margin-bottom: 5%;
}
