.login{
  background-color: white;
  height: 100vh;
  overflow: hidden;
}

.logo {
  height: 170px;
  width: 160px;
}

.login-logo-position{
  text-align: center;
  position:fixed;
  top: 18vh;
  width: 100%;
}

.login-register-button{
  position: fixed;
  bottom: 8vh;
  width: 100%;
}

.login-copyright{
  text-align: center;
  color: grey;
}
