.login{
  background-color: white;
  height: 100vh;
  overflow: hidden;
}

.logo {
  height: 170px;
  width: 160px;
}

.login-logo-position{
  text-align: center;
  position:fixed;
  top: 150px;
  width: 100%;
}

.login-register-button{
  position: fixed;
  bottom: 130px;
  width: 100%;
}

.login-login-button{
  position: fixed;
  bottom: 70px;
  width: 100%;
}

.login-copyright{
  text-align: center;
  color: #bbb;
  position: fixed;
  bottom: 20px;
  width: 100%;
}
