body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  touch-action: none
}
.show-info {
  margin-top: 18px;
  display: flex;
  align-items: center;
}
.show-info .progress {
  margin-right: 5px;
  width: 100%;
}
