.launch-container {
  background-color: #2E344C;
  height: 100vh;
  overflow: hidden;
}

.logo-launch-position  {
  text-align: center;
  position: fixed;
  left: 0;
  top: 18vh;
  width: 100%;
}

.logo {
  height: 170px;
  width: 160px;
}

.copyright{
  text-align: center;
  color: gray;
}

.launch-button {
  position: fixed;
  bottom: 10vh;
  width: 100%;
}
 /* position: absolute;
 overflow: visible; */
