.launch .logo-launch-position  {
  text-align: center;
  padding: 30% 0 30%;
}

.launch .logo {
  height: 170px;
  width: 160px;
  margin-bottom: 10%;
}

.launch .copyright {
  text-align: center;
  color: '#bbb';
  margin: 15% 0 0 0;
}

/* for 768 x 1024 iPad*/
@media screen and (width: 768px) {
}

/* for 1024*1366 ipad Pro */
@media screen and (width: 1024px) {
}
