.launch-container {
  background-color: #2E344C;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
/*
.logo-launch-position  {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
 */
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 40%;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .logo{
    height: 34%;
    width: 32%;
  }
}

.copyright{
  text-align: center;
  color: gray;
}

.button-no-copy{
  user-select: none;
}


/* .launch-button {
  height: 5vh;
} */
 /* position: absolute;
 overflow: visible; */
